[submodule "lib/gps"]
	path = lib/gps
	url = https://github.com/Ryerson-Rocketry/Library-GPS-Arduino.git
[submodule "lib/ms5611"]
	path = lib/ms5611
	url = https://github.com/Ryerson-Rocketry/Library-MS5611-Arduino.git
[submodule "lib/adxl357"]
	path = lib/adxl357
	url = https://github.com/Ryerson-Rocketry/Library-ADXL357-Arduino.git
[submodule "lib/rrc_encoder"]
	path = include/rrc_encoder
	url = https://github.com/Ryerson-Rocketry/Library-RRC-encoder.git
[submodule "lib/MPU6500"]
	path = lib/MPU6500
	url = https://github.com/Sowhum/MPU6050-I2C.git
	branch = 6500
[submodule "lib/ina260"]
	path = lib/ina260
	url = https://github.com/adafruit/Adafruit_INA260.git
